<template>
  <div id="ibrium-widget">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Поиск льготных авиарейсов</h5>
        <div class="form-inline">
          <!-- <input 
            type="text" 
            class="form-control coupon-input" 
            placeholder="Откуда"   
            @input="$v.checkedCoupon.$touch"   
            v-model="checkedCoupon"
            > -->
          <input type="text" placeholder="Откуда" class="form-control coupon-input" v-model="filter.to">
          <input type="text" placeholder="Куда" class="form-control coupon-input" v-model="filter.from">
          <input type="text" placeholder="Компания" class="form-control coupon-input" v-model="filter.company">
          <!-- <input type="text" placeholder="Дата" class="form-control coupon-input">
            <input type="text" placeholder="Компания" class="form-control coupon-input"> -->
        </div>
        <div class="form-inline">
          <input type="text" placeholder="Не раньше даты" class="form-control coupon-input" v-model="filter.startDate">
          <input type="text" placeholder="Не позже даты" class="form-control coupon-input" v-model="filter.endDate">
          <button class="btn btn-primary send-btn" @click="checkCoupon()">Поиск</button>
        </div>
        <!-- <button class="btn btn-primary send-btn" @click="checkCoupon()" :disabled ="$v.checkedCoupon.$invalid">Поиск</button> -->
        <table class="table mt-2" v-if="showInfo">
          <thead>
            <tr>
              <th>Откуда</th>
              <th>Куда</th>
              <th>Дата</th>
              <th>Компания</th>
              <th>Цена</th>
              <th>Льготных мест</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="f in flights" :key="f.id">
              <td>{{f.from}}</td>
              <td>{{f.to}}</td>
              <td>{{f.date}}</td>
              <td>{{f.company}}</td>
              <td>{{f.price}}</td>
              <td>{{f.count}}</td>
            </tr>
          </tbody>
        </table>
        <span v-if="showToggle" class="toggle float-right mt-2"
          @click="toggleCouponInfoShow"><small>{{toggleTitle}}</small></span>
      </div>
    </div>


  </div>
</template>

<script>
  import {
    required
  } from 'vuelidate/lib/validators'
  export default {
    name: 'app',
    components: {

    },
    // validations: {
    //   checkedCoupon: {
    //     required
    //   }      
    // },
    data() {
      return {
        flights: [],
        showInfo: false,
        showToggle: false,
        checkedCoupon: '',
        filter: {
          from: 'Хабаровск',
          to: 'Комсомольск-на-амуре',
          company: 'Аэрофлот',
          startDate: '14.07.2019',
          endDate: '30.07.2019'
        }
      }
    },
    computed: {
      toggleTitle() {
        return this.showInfo ? 'Скрыть' : 'Показать';
      }
    },
    methods: {
      checkCoupon() {
        // this.$http.get("http://localhost:64346/api/cupon/" + this.checkedCoupon)
        //   .then(response => {
        //     this.coupon = response.body;
        //     this.showInfo = true;
        //     this.showToggle = true;
        //   });

        const data = [{
            id: 1,
            from: "Хабаровск",
            to: "Комсомольск-на-амуре",
            price: 5000,
            company: "Аэрофлот",
            date: "14.07.2019",
            count: 10
          },
          {
            id: 2,
            from: "Хабаровск",
            to: "Комсомольск-на-амуре",
            price: 6000,
            company: "S7 Airlines",
            date: "14.07.2019",
            count: 15
          },
          {
            id: 3,
            from: "Хабаровск",
            to: "Комсомольск-на-амуре",
            price: 5000,
            company: "Аэрофлот",
            date: "15.07.2019",
            count: 5
          },
          {
            id: 4,
            from: "Хабаровск",
            to: "Комсомольск-на-амуре",
            price: 5500,
            company: "Аэрофлот",
            date: "16.07.2019",
            count: 10
          },
          {
            id: 5,
            from: "Хабаровск",
            to: "Комсомольск-на-амуре",
            price: 7000,
            company: "S7 Airlines",
            date: "14.07.2019",
            count: 13
          },
          {
            id: 6,
            from: "Хабаровск",
            to: "Комсомольск-на-амуре",
            price: 5000,
            company: "Аэрофлот",
            date: "17.07.2019",
            count: 30
          },
          {
            id: 7,
            from: "Хабаровск",
            to: "Комсомольск-на-амуре",
            price: 6000,
            company: "Аэрофлот",
            date: "18.07.2019",
            count: 20
          },
          {
            id: 8,
            from: "Хабаровск",
            to: "Комсомольск-на-амуре",
            price: 4000,
            company: "S7 Airlines",
            date: "22.07.2019",
            count: 15
          },
          {
            id: 9,
            from: "Хабаровск",
            to: "Комсомольск-на-амуре",
            price: 7000,
            company: "Аэрофлот",
            date: "23.07.2019",
            count: 10
          },
          {
            id: 10,
            from: "Хабаровск",
            to: "Комсомольск-на-амуре",
            price: 5000,
            company: "S7 Airlines",
            date: "23.07.2019",
            count: 15
          },
          {
            id: 11,
            from: "Хабаровск",
            to: "Комсомольск-на-амуре",
            price: 5700,
            company: "Аэрофлот",
            date: "24.07.2019",
            count: 25
          },
        ];

        function dateParse(string) {
          //'2014-04-03'
          var parts = string.split('.');
          return new Date(parts[2], parts[1] - 1, parts[0]);
        }

        this.flights = data
          .filter(x => x.to.indexOf(this.filter.to) !== -1)
          .filter(x => x.from.indexOf(this.filter.from) !== -1)
          .filter(x => x.company.indexOf(this.filter.company) !== -1)
        ;
        this.showInfo = true;
        this.showToggle = true;
        // const x = {
        //   "Id": 8,
        //   "AlredyUsed": false,
        //   "EmployeeId": 2,
        //   "Employee": null,
        //   "CreationDate": "2019-07-07T00:00:00",
        //   "UsageDate": "2019-07-07T00:00:00",
        //   "ExpDate": "2019-08-07T00:00:00",
        //   "CompanyId": 6,
        //   "Company": null
        // }

        // this.coupon = {
        //   id: '123456789',
        //   status: 'Действителен',
        //   owner: 'Иванов Иван Иванович',
        //   createDate: '13.07.2019'
        // };

      },
      toggleCouponInfoShow() {
        this.showInfo = !this.showInfo;
      }
    }
  }
</script>

<style>
  input[type=text],
  input[type=date] {
    margin: 5px;
  }

  .send-btn {
    margin-left: 5px !important;
    width: 250px;
  }

  .coupon-input {
    width: 250px !important;
  }

  .toggle {
    color: #ccc;
    cursor: pointer;
  }

  .toggle :hover {
    color: #555;
  }

  #ibrium-widget {
    width: 860px;
    padding: 1rem;
    margin: 1rem;
  }
</style>
